$icomoon-font-family: "enrian" !default;
$icomoon-font-path: "../fonts" !default;

$icon-arrow-dropdown: "\e900";
$icon-arrow-filter: "\e901";
$icon-button-quick-actions: "\e902";
$icon-circle-delete: "\e906";
$icon-icon-house: "\e907";
$icon-icon-info: "\e908";
$icon-icon-person: "\e909";
$icon-icon-questionmark: "\e90a";
$icon-icon-score: "\e90b";
$icon-icon-text: "\e90c";
$icon-menu-quick-actions: "\e90d";
$icon-modal-close: "\e90e";
$icon-pagination-double-arrow: "\e90f";
$icon-pagination-single-arrow: "\e910";

